{% extends 'base.html.twig' %}

{% block body %}
    <h1>Class</h1>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
         {% for class in Classes %}
            <tr>
                <td>{{ Classes.id }}</td>
                <td>{{ Classes.name }}</td>
                <td>{{ Classes.type }}</td>
                <td>
                    <a href="{{ path('class_show', { 'id': Classes.id }) }}">show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}